# NHS Notify Code Owners

*                         @NHSDigital/nhs-notify-amet

/.github/                 @NHSDigital/nhs-notify-amet
*.code-workspace          @NHSDigital/nhs-notify-amet

/docs/                    @NHSDigital/nhs-notify-amet
/docs/_config.yml         @NHSDigital/nhs-notify-web-cms
/docs/_config.dev.yml     @NHSDigital/nhs-notify-web-cms
/docs/_data/              @NHSDigital/nhs-notify-web-cms
/docs/_includes/          @NHSDigital/nhs-notify-web-cms
/docs/_layouts/           @NHSDigital/nhs-notify-web-cms
/docs/_sass/              @NHSDigital/nhs-notify-web-cms
/docs/_data/              @NHSDigital/nhs-notify-web-cms
/docs/assets/             @NHSDigital/nhs-notify-web-cms
/docs/collections/        @NHSDigital/nhs-notify-web-cms
/docs/pages/              @NHSDigital/nhs-notify-web-cms
/scripts/config/vale/vale.ini  @NHSDigital/nhs-notify-web-cms
# Default protection for codeowners, must be last in file.
/.github/CODEOWNERS       @NHSDigital/nhs-notify-code-owners
/CODEOWNERS               @NHSDigital/nhs-notify-code-owners
