@import "./color_schemes/light";

// Typography

// prettier-ignore
$body-font-family: "Frutiger W01", Arial, Sans-serif;
$mono-font-family: "Frutiger W01", Arial, Sans-serif;



$blue-000: #005eb8;
$grey-dk-000: #d8dde0;
$grey-dk-100: #f0f4f5;
$sidebar-color: $grey-dk-000;
$body-background-color: $grey-dk-100;
$link-color: $blue-000;

$font-size-7: 1.25rem;
