.nhsnotify-image {
  width: unset;
  background-color: unset;
  border-bottom: 0;
  margin: unset;
}

.nhsnotify-banner--blue {
  background-color: $blue-000;
  color: white;
}

.nhsnotify-banner--white {
  background-color: white;
}

.nhsnotify-list {
  padding-top: 2em;
}

.nhsnotify-list__item {
  padding-bottom: 5em;

  &:last-child {
    padding-bottom: 0;
  }

  li {
    margin-bottom: 0;
  }
}

.nhsnotify-list__item-header {
  display: flex;
  @extend .nhsuk-u-margin-bottom-3;
}

.nhsnotify-list__item-header-number {
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 50%;

  background-color: $blue-000;
  color: white;
  font-weight: bold;
  text-align: center;
}

.nhsnotify-list__item-header-title {
  width: 85%;
  padding: 0.3em 0 0 1.5em;
}

.nhsnotify-list__item-description {
  padding-left: 5.5em;
}

.nhsuk-card__description {
  @media screen and (min-width: 990px) {
    height: 56px;
  }
}

.nhsuk-card__pricing {
  @extend .nhsuk-heading-m;
  margin: 0;
}

.nhsuk-header__navigation-list {
  justify-content: flex-centre;
}

.nhsuk-header__navigation-link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.nhsuk-phase-banner {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

.nhsuk-phase-banner__content {
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 0px;
}

.nhsuk-tag {
  outline: 2px solid transparent;
  outline-offset: -2px;
  color: #fff;
  background-color: #005eb8;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.nhsuk-phase-banner__text {
  font-size: 1rem;
  line-height: 1.25;
  padding-left: 0.5em;
}

.nhsnotify-code-snippet {
  background-color: $color_nhsuk-white;
  border: 1px solid $nhsuk-border-color;
  padding: 24px;
  margin: 12px 0 48px 0;

    :last-child{
      margin-bottom: 0;
      padding-bottom: 0;
    }
}
