.nhsnotify-image {
  width: unset;
  background-color: unset;
  border-bottom: 0;
  margin: unset;
}

.nhsnotify-banner--blue {
  background-color: $blue-000;
  color: white;
}

.nhsnotify-banner--white {
  background-color: white;
}

.nhsnotify-list {
  padding-top: 2em;
}

.nhsnotify-list__item {
  padding-bottom: 5em;

  &:last-child {
    padding-bottom: 0;
  }

  li {
    margin-bottom: 0;
  }
}

.nhsnotify-list__item-header {
  display: flex;
  @extend .nhsuk-u-margin-bottom-3;
}

.nhsnotify-list__item-header-number {
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 50%;

  background-color: $blue-000;
  color: white;
  font-weight: bold;
  text-align: center;
}

.nhsnotify-list__item-header-title {
  width: 85%;
  padding: 0.3em 0 0 1.5em;
}

.nhsnotify-list__item-description {
  padding-left: 5.5em;
}

.nhsuk-card__description {
  @media screen and (min-width: 990px) {
    height: 56px;
  }
}

.nhsuk-card__pricing {
  @extend .nhsuk-heading-m;
  margin: 0;
}

.nhsuk-header__navigation-item {
  padding-left: 0;
  padding-right: 0;
}

.nhsuk-header__navigation-item:first-child .nhsuk-header__navigation-link {
  padding-left: 0;
}

.nhsuk-header__navigation-item:nth-child(5) .nhsuk-header__navigation-link {
  padding-right: 0;
}

.nhsuk-header__drop-down .nhsuk-header__navigation-item:first-child .nhsuk-header__navigation-link {
  padding-left: 16px;
}

.nhsuk-header__navigation-link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

}

.nhsuk-phase-banner {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

.nhsuk-phase-banner__content {
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 0px;
}

.nhsuk-tag {
  outline: 2px solid transparent;
  outline-offset: -2px;
  color: #fff;
  background-color: #005eb8;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.nhsuk-phase-banner__text {
  font-size: 1rem;
  line-height: 1.25;
  padding-left: 0.5em;
}

.nhsuk-inset-text-override {
  @include top-and-bottom(); /* [1] */
  @include reading-width(); /* [2] */

  @include nhsuk-responsive-margin(7, "bottom");
  @include nhsuk-responsive-margin(4, "top");
  @include nhsuk-responsive-padding(4);

  border-left: $nhsuk-border-width-inset-text solid $color_nhsuk-blue;

  @include mq($media-type: print) {
    border-color: $nhsuk-print-text-color;
  }
}

.nhsuk-image-with-caption {
  background-color: $color_nhsuk-white;
  border-bottom: 1px solid $color_nhsuk-grey-4;

  margin-left: 0; /* [1] */
  margin-right: 0; /* [1] */

  @include nhsuk-responsive-margin(6, "bottom");
  @include nhsuk-responsive-margin(3, "top");

  @include mq($from: desktop) {
    width: 100%; /* [2] */
  }

  @include mq($media-type: print) {
    width: 50%; /* [3] */
  }

  & + .nhsuk-image {
    @include nhsuk-responsive-margin(0, "top"); /* [4] */
  }
}

// Breadcrumb spacing override

.nhsnotify-breadcrumb {
  @include print-hide();

  padding-top: 20px;

  + .nhsuk-width-container .nhsuk-main-wrapper {
    margin-top: 20px;
  }

}
