.nhsnotify-pane {
  display: -webkit-box;
  display: -ms-flexbox; // sass-lint:disable-line no-duplicate-properties
  display: flex; // sass-lint:disable-line no-duplicate-properties
  min-height: 0;
  overflow: inherit;
  position: relative;
}

.nhsnotify-pane__side-bar {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  width: 220px;
  margin-right: nhsuk-spacing(9);

  @include nhsuk-media-query($until: desktop) {
    display: none;
  }

}

.nhsnotify-pane__main-content {
  -ms-flex: 1 1 100%; // sass-lint:disable-line no-duplicate-properties
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox; // sass-lint:disable-line no-duplicate-properties
  display: flex; // sass-lint:disable-line no-duplicate-properties
  flex: 1 1 100%;
  flex-direction: column;
  min-width: 0;

  /*@include mq($from: desktop) {
    padding-left: nhsuk-spacing(9);
  }*/

}

.nhsnotify-side-nav__list {
  @include nhsuk-font(16, $line-height: 1.3);
  margin-bottom: 0;

  @include nhsuk-media-query($until: desktop) {
    @include nhsuk-font(19, $line-height: 1.3);
    margin-bottom: nhsuk-spacing(2);
  }
}

.nhsnotify-side-nav__list-section {
  @include nhsuk-font(19, $line-height: 1.25, $weight: bold);
  color: $nhsuk-secondary-text-color;
  margin-bottom: 12px;
  padding-top: 4px;

  @include nhsuk-media-query($until: desktop) {
    @include nhsuk-font(22, $line-height: 1.25, $weight: bold);
    color: $nhsuk-text-color;
  }
}

.nhsnotify-side-nav__item {
  padding: 4px 0 0.5em;

    &.nhsnotify-side-nav__item--current {
      left: -1.2em;
      padding-left: 0.75em;
      position: relative;
    }
  }

.nhsnotify-side-nav__item--current {
  font-weight: 600;
  border-left: 4px solid $blue-000;
  padding-left: 1em;
}

.nhsnotify-side-nav__link {
  text-decoration: none;

  @include nhsuk-media-query($until: desktop) {
    text-decoration: underline;
  }

  &:visited {
    color:  $blue-000;
  }

  &:hover {
    color: #7c2855;
    text-decoration: underline;
  }

  &:focus {
    color: #212b32;
  }
}

// Mobile navigation
.nhsnotify-index-navigation {
  @include nhsuk-responsive-padding(4, 'top');
}

// Hide content on desktop
.nhsnotify-u-hide-desktop {
  @include nhsuk-media-query($from: desktop) {
    display: none;
  }
}
