_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

*Zone.Identifier

# this is needed for a bug about no return specified in sass-mq.scss. Need to look into it
node_modules/**
!node_modules/**/
!node_modules/nhsuk-frontend/packages/core/vendor/sass-mq.scss
