_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
#Gemfile.lock
*Zone.Identifier
node_modules
#!node_modules/nhsuk-frontend/packages/
#!node_modules/nhsuk-frontend/packages/core/vendor/sass-mq.scss
